# My Jupyter Notebook on IBM Watson Studio

**Alimasi Kangolingoli**

Delivery driver

_I am intereseted in Data science because I love learning new things_

_It keeps me busy_

### My code is going to calcule the sum of 20+5

In [2]:
20+5

25

<p>Why am I learning this</p>
<ul>
    <li>Am lazy</li>
    <li>It is fun to learn</li>
    <li>am a nerd</li>
    
</ul>

<hr>
   <img src="https://www.w3schools.com/images/img_girl.jpg" />
   
  <hr>
   
  <table border = "3">
         <tr>
            <td>Row 1, Column 1</td>
            <td>Row 1, Column 2</td>
         </tr>
         
         <tr>
            <td>Row 2, Column 1</td>
            <td>Row 2, Column 2</td>
         </tr>
  </table>
      
   <hr>
    
   <p>Here is my blocked quote:</p>

<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
</blockquote>